<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    
    <div class="container">
        <h2>Welcome Admin!</h2>
        <div class="right">
            <img src="/assets/svg/notification.svg" alt="">
            <img src="/assets/svg/setting.svg" alt="">
            <h2>Username</h2>
            <a href="/pages/View_details.html"><img src="/assets/svg/profile.svg" alt=""></a>
        </div>
    </div>
    
    
</body>
</html>