<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo">
        <img src="/assets/svg/leftarrow.svg" alt="" class="leftarrow" />
        <a href="/pages/dashboard.html"
          ><img src="/assets/images/logo.png" alt="" class="hero"
        /></a>
      </div>
      <div class="menu">
        <ul>
          <li>
            <img src="/assets/svg/pointer.svg" alt="" class="pointer" />
            <a href="#" class="main-menu"
              ><img src="/assets/svg/admin.svg" alt="" />Admin<img
                src="/assets/svg/down_arrow.svg"
                alt=""
                class="down-arrow"
                id="one"
            /></a>

            <div class="sub-menu-1">
              <ul>
                <li>
                  <a href="/pages/trainers.html" class="svg-hover">
                    <img src="/assets/svg/staff.svg" alt="" />
                    <span>Staff/Trainers</span>
                  </a>
                </li>
                <li>
                  <a href="/pages/memberships.html" class="svg-hover">
                    <img src="/assets/svg/membership.svg" alt="Membership" />
                    <span>Membership</span>
                  </a>
                </li>
                <li>
                  <a href="/pages/All_classes.html" class="svg-hover">
                    <img src="/assets/svg/All_classes.svg" alt="" />
                    <span>All Classes</span>
                  </a>
                </li>
                <li>
                  <a href="/pages/Attendance.html" class="svg-hover">
                    <img src="/assets/svg/attendance.svg" alt="" />
                    <span>Attendance</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="main-menu"
              ><img src="/assets/svg/member.svg" alt="" />All members<img
                src="/assets/svg/down_arrow.svg"
                alt=""
                class="down-arrow"
                id="two"
            /></a>
            <div class="sub-menu-1">
              <ul>
                <li>
                  <a href="/pages/Member_AddTrainee.html" class="svg-hover">
                    <img src="/assets/svg/add_trainee.svg" alt="" />
                    <span>Add Trainee</span>
                  </a>
                </li>
                <li>
                  <a href="/pages/Dropped_trainee.html" class="svg-hover">
                    <img src="/assets/svg/drop_trainee.svg" alt="Membership" />
                    <span>Droppped Trainee</span>
                  </a>
                </li>
                <li>
                  <a href="/pages/Member_details.html" class="svg-hover">
                    <img src="/assets/svg/member_detail.svg" alt="" />
                    <span>Member Details</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="main-menu"
              ><img src="/assets/svg/trainer.svg" alt="" />Trainer<img
                src="/assets/svg/down_arrow.svg"
                alt=""
                class="down-arrow"
                id="three"
            /></a>
            <div class="sub-menu-1">
              <ul>
                <li>
                  <a href="#" class="svg-hover">
                    <img src="/assets/svg/add_trainee.svg" alt="" />
                    <span>Add Trainee</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="svg-hover">
                    <img src="/assets/svg/drop_trainee.svg" alt="Membership" />
                    <span>Droppped Trainee</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="svg-hover">
                    <img src="/assets/svg/member_detail.svg" alt="" />
                    <span>Member Details</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="main-menu"
              ><img src="/assets/svg/trainee.svg" alt="" />Trainee</a
            >
          </li>
          <li>
            <a href="#" class="main-menu"
              ><img src="/assets/svg/health.svg" alt="" />Health Updates</a
            >
          </li>
          <li>
            <a href="#" class="main-menu"
              ><img src="/assets/svg/payment.svg" alt="" />Member Payment</a
            >
          </li>
          <li>
            <a href="#" class="main-menu"
              ><img src="/assets/svg/plan.svg" alt="" />Plan</a
            >
          </li>
        </ul>
      </div>
    </div>
    <script src="/js/sidebar.js"></script>
  </body>
</html>
