.main {
    max-width: 100vw;
    max-height: 100vh;
}

.content {
    width: 75.5vw;
    height: 82vh;
    background-color: #FBFBFB;
    margin: 2rem;
    margin-top: 0.1%;
    border: 0.5px solid #6E6E6E;
    border-radius: 5px;
}

.content {
    overflow: auto;
}

.classlist {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    border-radius: 2px;
    padding: 0.5rem;
    background-color: rgba(216, 216, 216, 0.68);
    color: rgba(52, 52, 52, 1);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 1rem;
    border-bottom: 0.5px solid #6E6E6E;
}

header h1 {
    font-size: 20px;
    color: #333;
    margin-left: 1rem;
}

header .search-add {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header input {
    width: 12rem;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

header button {
    background-color: rgba(0, 133, 229, 0.68);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* header button:hover {
    background-color: #0056b3;
} */

.search-icon {
    margin-left: -15%;
    top: 10px;
    vertical-align: middle;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0rem;
    border-bottom: 0.5px solid rgba(210, 210, 210, 1);
}

.date-input,
.dropdown {
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: auto;
}

.take-attendance-btn {
    background-color: rgba(0, 133, 229, 0.68);
    color: white;
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
    border: none;
}

.attendance-container {
    padding: 0rem;
}

.attendance-table {
    margin-left: 2rem;
    width: 40%;
    /* height: 50vh; */
    margin-top: 20px;
    border: none;
    border-spacing: 0;
}


.attendance-table th {
    text-align: center;
    padding: 10px;
    /* height: 0.5rem; */
    background-color: rgba(221, 221, 221, 1);
    font-weight: bold;
}


.attendance-table td {
    padding: 0.2rem;
}

.attendance-table tbody tr {
    height: 50px;
    text-align: center;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#status{
    color: green;
    font-weight: 500;
}