* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.main {
    max-height: 100vh;
}
.content{
    padding: 1rem;
    height: 86vh;
    overflow: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: sticky;
}

header h1 {
    font-size: 20px;
    color: #333;
}

header .search-add {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

header button {
    background-color: rgba(0, 133, 229, 0.68);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

header button:hover {
    background-color: #0056b3;
}

button a{
    text-decoration: none;
    color: white; 
}

button a img{
    vertical-align: middle;
    padding-left: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

table thead {
    background-color: #DDDDDD;
    color: black;
}

table thead th {
    padding: 12px;
    text-align: left;
}

 .table{
    height: 50vh;
    overflow: auto;
}

table tbody tr {
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: #f9f9f9;
}

table tbody td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}

table tbody td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

table tbody td a {
    color: #007bff;
    text-decoration: none;
}

table tbody td a:hover {
    text-decoration: underline;
}

table tbody .edit {
    cursor: pointer;
    background-color: (221, 221, 221, 1);
    margin-right: 8px;
}

table tbody .delete {
    cursor: pointer;
    color: red;
}

.icon img{
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

.search-icon{
    margin-left: -15%;
    top: 10px;
    vertical-align: middle;
}